.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 60vh;
    font-family: 'ITCBook';
    margin-top: 5%;
}

.aboutText {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.startInfo h1{
    color: #FFFFFF;
    font-family: 'ITCBook';
}