footer {

    background-color: #292929;
    color: #FFFFFF;
    font-family: 'ITCBook';
    height: 38vh;
}

footer a {
    color: #FFFFFF;
}

footer h1 {
    font-size: 28px;
}

.products {
    margin-top: 30px;
}

.info {
    margin-top: 30px;
}

.footerOptions {
    display: flex;
    width: 100vw;
    height: 87%;
    justify-content: space-evenly;
    border-bottom: 1px solid #D1D1D1;
}